body{
  font-family: Lato;
}
.nounderline{
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.volume-bar {
  display: inline-block !important;
  width: 100px !important;
}

// .progress {
//   width: 300px !important;
// }

.ul {
  list-style: none !important;
  list-style-type: none !important;
}

.navbar-brand {
  background-color: orange;
  color: black !important; 
  border-radius: 23px;
}

.glyphicon-play {

  -webkit-transition: -webkit-transform .3s ease-in; 
  -moz-transition: -moz-transform .3s ease-in; 
  -o-transition: -o-transform .3s ease-in;
  transition: transform .3s ease-in; 
  &:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}